[mysqld]
#端口号
port=31306
#字符集
character-set-server=utf8mb4
#字符集排序规则
collation-server=utf8mb4_bin
#存储引擎
default-storage-engine=INNODB
#密码验证插件
default_authentication_plugin=mysql_native_password
#表名不区分大小写
lower_case_table_names=1
#单个表单个数据文件
innodb_file_per_table=1
#信任所有存储函数创建者
log_bin_trust_function_creators=1
#跳过DNS解析
skip_name_resolve

# 各数据文件存储目录,根据环境情况自定义配置
#软件安装目录
#basedir=/usr/local/mysql
#数据目录，根据磁盘挂载目录自定义配置
datadir=/home/mysql
#innodb表空间，一般和数据目录配置一致即可
innodb_directories=/home/mysql/
#临时文件
#tmpdir=/tmp

# 错误日志及慢日志配置,根据环境情况自定义配置
#错误日志文件
log-error = /home/mysql/error.log
#开启慢日志
slow-query-log = ON
slow-query-log-file = /home/mysql/slow.log
#记录查询超过30s的sql
long_query_time = 30
#记录所有未使用索引的sql
log_queries_not_using_indexes

# binlog日志
#唯一标识,自然数
server_id = 1
#开启binlog
log-bin=binlog
#binlog文件大小
max_binlog_size = 1G
#默认row,不建议更改
binlog_format = row
#默认full,不建议更改
binlog_row_image = full
#默认off,关闭查询事件写入binlog
binlog_rows_query_log_events=OFF
#保留7天内的binlog,单位秒
binlog_expire_logs_seconds=604800
#每进行n次事务提交之后，将进行一次fsync之类的磁盘同步指令来将binlog_cache中的数据强制写入磁盘。n越大，故障时binlog丢失的事务就越多。一般建议100-1000以内
sync_binlog=1000
#提交事务时，把redo日志写入磁盘文件对应的os cache缓存里去，而不是直接进入磁盘文件，1 秒后才会把 os cache里的数据写入到磁盘文件里去。不建议修改
innodb_flush_log_at_trx_commit=2

# SQL规则
#SQL MODE
sql_mode=STRICT_TRANS_TABLES,ONLY_FULL_GROUP_BY,ANSI_QUOTES,REAL_AS_FLOAT,PIPES_AS_CONCAT,NO_ENGINE_SUBSTITUTION

# 连接
#最大连接数
max_connections=1000
#最大容忍连接错误，超过该限制后新连接无法正常连接mysql
max_connect_errors=5000000
#交互式连接，超时3小时自动断开
interactive_timeout=10800
#非交互式连接，超时3小时自动断开
wait_timeout=10800

# 线程
#64以内的活跃连接配置0，大于64的依次按照128、96、64、32等进行设置压测(选择的值要小于或等于逻辑cpu数，否则cpu会消耗过高，降低性能)，选择一个最优的值。例如：128核可配置64，40核可配置40
innodb_thread_concurrency=64
#默认，不建议调过大，会过多消耗cpu
innodb_parallel_read_threads=4
#连接数达到max_connections时，新来的请求将会被存在堆栈中，以等待某一连接释放资源，该堆栈的数量即back_log，如果等待连接的数量超过back_log，将不被授予连接资源,不能超过cat /proc/sys/net/ipv4/tcp_max_syn_backlog。
back_log=500
#线程缓存，默认基于8 + (max_connections / 100)
thread_cache_size=100

# 隔离级别
#读已提交
transaction_isolation=READ-COMMITTED

# redo log,根据环境情况自定义配置
#日志缓冲区，默认16M,对于大量更新、插入或删除许行，增加日志缓冲区，可节省磁盘I/O
innodb_log_buffer_size =64M
#默认64M, 每次自动扩展 InnoDB系统表空间 的增量大小
innodb_autoextend_increment=256M
#redo log文件存放的位置
#innodb_log_group_home_dir=/home/mysql/
#redo log的总大小=(innodb_log_files_in_group * innodb_log_file_size ),8.0.30以后默认生成32个redo log 文件, 默认100M,最大128G
innodb_redo_log_capacity=8G # io
#默认200，一般设置磁盘io能力的70%-80%
innodb_io_capacity=5000
#默认 2**64-1，一般设置磁盘io上限
innodb_io_capacity_max=10000
#禁用同步刷脏，遵循innodb_io_capacity的值刷脏，避免redo空间快用完时，系统使用最大io频率刷脏。
innodb_flush_sync=OFF
#默认,不修改
innodb_flush_method=O_DIRECT

# memory,根据环境情况自定义配置
#缓冲池大小，一般设置服务器可用内存的50%-75%。并且等于（ innodb_buffer_pool_chunk_size（128M） * innodb_buffer_pool_instances）
innodb_buffer_pool_size=192G
#缓冲池实例，默认8,最大64。多核服务器下开启了numa模式，建议设置为numa节点的倍数。
innodb_buffer_pool_instances=16
#启用 NUMA 交错内存策略以分配 InnoDB 缓冲池。 Linux 系统支持NUMA才开启
innodb_numa_interleave=on

# 其他参数
#MyISAM表的索引块的缓冲区大小，会话级别。默认8M
key_buffer_size=16M
#在修复表期间对MyISAM索引进行排序或使用CREATE INDEX或ALTER TABLE创建索引时分配的缓冲区大小。默认8M
myisam_sort_buffer_size=96M
#每个需要进行排序的线程分配的缓冲区的大小.默认256kb
sort_buffer_size=8M
#每个需要进行普通索引扫描、范围索引扫描以及不使用索引并因此执行全表扫描的联接、哈希连接的内存量的线程分配的缓冲区的大小，默认256kb
join_buffer_size=8M
#对表进行顺序扫描的每个线程都会为其扫描的每个表分配此大小的缓冲区，默认128kb
read_buffer_size=4M
#随机读缓冲区大小，当按任意顺序读取行时（列如按照排序顺序）将分配一个随机读取缓冲区.默认256kb
read_rnd_buffer_size=8M #当前预准备语句的数量大于该限制时，无法准备新语句。 默认16382
max_prepared_stmt_count=1000000
#文件打开数限制，一般无需修改
open_files_limit=655350
#打开表缓存大小，根据max_connections * 每个连接访问表的数量 估算 。默认不限制大小
table_open_cache=2000
#内存临时表的最大值，当超过该大小，MySQL自动将内存中的内部临时表转换为InnoDB磁盘上的内部临时表。默认16M
tmp_table_size=96M
#与tmp_table_size 一致
max_heap_table_size=96M
#服务器和客户端之间的任何单个消息的大小设置上限。设置过小会导致插入语句或同步失败。默认64M
max_allowed_packet= 256M

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
port=31306

